<header>
  <div class="container">
    <div class="logo">
      <a routerLink="/">
          <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" viewBox="0 0 75 75">
              <g>
                  <rect height="30" width="12" x="25.5" y="15.5" fill="#222" stroke="none"></rect>
                  <rect height="30" width="12" y="29.5" x="36.5" fill="#222" stroke="none"></rect>
              </g>
          </svg>
      </a>
    </div>
    <div class="menu">
      <nav>
        <ul>
          <li><a routerLink="/">Dashboard</a></li>
          <li><a routerLink="/contact">Contact</a></li>
          <li><a routerLink="/me">Me</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
<router-outlet></router-outlet>