<div class="dashboard">
  <div class="hero"></div>
  <div class="blue-hero">
    <div class="container">
      <div class="about-content">
        <h2>About Me</h2>
        <p class="about-short">
          Hello, I'm Sakthivel -- a Front-End developer living in Chennai, Tamil Nadu, India. I have a passion for web development and love to create attractive websites.
          <a routerLink="/me">read more..</a>
        </p>
        <div class="sign-wrap">
          <span class="signature">Sakthivel</span>
          <br>
          <span class="name">Sakthivel Dhanasekaran, B.E</span>
        </div>
      </div>
    </div>
  </div>
</div>